$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");


div#main-map {
  min-width: 600px;
  min-height: calc(100vh - 12rem);
  height: calc(100vh - 12rem);
}

form {
  display: inline-block;
}

header {
  // border: solid 1px red;
}

main {
  min-height: calc(100vh - 12rem);
}

footer.footer {
  min-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.modal.is-active {
  z-index: 9999;
}

@media only screen and (max-width: 1020px) {
  div#main-map {
    min-width: 600px;
    min-height: calc(100vh - 14rem);
    height: calc(100vh - 14rem);
  }

  main {
    min-height: calc(100vh - 14rem);
  }
}